
@font-face {
  font-family: VALTRAAvenyT;
  src: url('../fonts/valtraavenyt-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: VALTRAAvenyTExtraBold;
  src: url('../fonts/valtraavenytextrabold-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "VALTRAAvenyT-2020-Regular";
  src: url('../fonts/valtraavenyt-2020-regular-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
